<a href="https://colab.research.google.com/github/2303A51553/ADM_2025/blob/main/Lab_06_1553_b9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab 6-Data Transformation

1. Data Encoding

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [3]:
data={'Category':['A','B','C','A','B']}
df=pd.DataFrame(data)

In [4]:
label_encoder=LabelEncoder()
df['Label_Encoded']=label_encoder.fit_transform(df['Category'])

In [5]:
one_hot_encoded = pd.get_dummies(df['Category'], prefix='Category')
df = pd.concat([df, one_hot_encoded], axis=1)

In [6]:
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [7]:
from datetime import datetime

2. Creating Derived Columns

In [9]:
data={'Name':['Alice','Bob'],'Date_of_Birth':['1990-05-14','1985-08-23']}
df=pd.DataFrame(data)

In [10]:
df['Date_of_Birth'] = pd.to_datetime(df['Date_of_Birth'])

In [11]:
current_year = datetime.now().year
df['Age'] = current_year - df['Date_of_Birth'].dt.year

3. Grouping and Aggregating Data

In [17]:
data={'Category':['A','A','B','B','C'],
'Value':[10,20,10,30,40]}
df=pd.DataFrame(data)

In [18]:
grouped=df.groupby('Category').agg({'Value':['sum','mean']})
print("Grouped Data:\n",grouped)

Grouped Data:
          Value
           sum  mean
Category
A           30  15.0
B           40  20.0
C           40  40.0

In [19]:
pivot = df.pivot_table(index='Category',values='Value',aggfunc=['sum','mean'])
print("\nPivot Table:\n",pivot)

Pivot Table:
            sum  mean
         Value Value
Category
A           30  15.0
B           40  20.0
C           40  40.0